@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Montserrat:wght@400;700&display=swap');
@import "variables";
@import "mixins";


.navigation__nav-bar img {
  margin-left: 40px;
}

.wrapper {
  min-width: 360px;
  margin: 0 auto;
}

.logo-hover {
  display: none;
}

.logo-text-violet {
  display: none;
}


.navigation__button {
  display: inline-block;
  @include buttons;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
}

.navigation-items-pc {
  display: none;
}

.navigation__button:hover {
  background-color: $hover;
  color: $primary;
}

.navigation-items {
  z-index: 1;
  display: none;
  width: 292px;
  background-color: #333333;
  position: absolute;
  right: 15px;
  top: 108px;

  & ul {
    padding: 0;
  }

  & li {
    padding: 29px 0 31px 35px;
    list-style-type: none;
    border-left: 7px solid #333333;
  }

  & li:hover {
    border-left: 7px solid $primary;
  }

  & li:hover .navigation-items__link {
    color: $primary;
  }

  & a {
    text-decoration: none;
    color: $hover;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    cursor: pointer;
  }
}

.show {
  display: block;
}


.navigation-items-tablet {
  display: none;
}


.navigation {
  background: #27262A;
  padding: 32px 11px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.banner {
  background: url('img/img 1.png');
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: $hover;
  margin-bottom: 19px;
  margin-top: 50px;
}

.banner__description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: $primary;
  margin-bottom: 14px;
}

.banner__version {
  @include nav-description;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}


.button__button {
  @include buttons;
  display: block;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 320px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: -17px;
  border: 2px solid $primary;
}

.button__button:hover {
  @include button-hover;
  border: 2px solid $primary;
}

.button__description {
  @include nav-description;
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase;
}


//// Revolutionary Editor

.revolutionary {
  margin: 80px 21px 0 21px;

  & .revolutionary__header {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #635C73;
    line-height: 28px;
    text-transform: uppercase;
  }

  & p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #323232;
    line-height: 20px;
    margin-top: 30px;
  }

  .revolutionary__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 35px;
  }

  .revolutionary__info {
    display: flex;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    width: 110px;
  }

  .revolutionary__button {
    background: linear-gradient(#fcfcfc, #eeeeef);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-right: 1px solid #d5d5d5;
  }

  .revolutionary__button a {
    text-decoration: none;
    font-size: 10px;
    color: black;
    height: 24px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }

  .revolutionary__button img {
    height: 12px;
    margin-right: 5px;
  }

  .revolutionary__info p {
    font-size: 10px;
    margin: auto;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
}

//// Here is what you get

.what-you-get {
  padding-bottom: 20px;
}

.what-you-get__header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #8D81AC;
  margin: 32px 47px 0 43px;

  &::after {
    content: ">";
  }

  &::before {
    content: "<";
  }
}

.what-you-get__wrapper {
  margin: 0 25px 0 25px;
}

.what-you-get__content {
  margin-top: 36px;

  & img {
    display: block;
    margin: 0 auto 0 auto;
  }

  & h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #323232;
    margin-top: 24px;
    display: block;
  }

  & p {
    margin-top: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #848E97;
    line-height: 21px;
    display: block;
  }
}

.what-you-get__banner {
  margin: 70px 0 0 25px;
  background-image: url("./img/editor-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 380px;
}

// People Are Talking About Fork

.People-Are-Talking-About-Fork__container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.People-Are-Talking-About-Fork {
  background-image: url("./img/testmonials-bg 1.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 57px 25px 0 25px;

  &::after {
    display: block;
    margin-top: 25px;
    content: "";
    height: 4px;
    border-top: 2px solid #645766;
  }
}

.People-Are-Talking-About-Fork__comment {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #A291A5;
  font-family: 'Lato', sans-serif;
  padding-bottom: 22px;
}

.People-Are-Talking-About-Fork__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: $hover;
  text-align: center;
  margin-bottom: 53px;
}

.w {
  height: 50px;
}

.People-Are-Talking-About-Fork__examples {
  margin-bottom: 45px;
  display: grid;
  gap: 25px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.People-Are-Talking-About-Fork__client img {
  display: block;
  margin: 0 auto;
}

.People-Are-Talking-About-Fork__client p {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 33px;
}

//Fork Subscription Pricing
//
.subscription-pricing {
  padding-top: 15px;
  background-image: url("./img/base 3 (1).png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

.subscription-pricing__header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: white;
  line-height: 42px;
  margin: 0 20px 0 20px;
}

.subscription-pricing__content {
  margin: 20px auto 0 auto;
  background: rgba(255, 255, 255, 11%);
  padding-bottom: 36px;
  width: 257px;
  height: 457px;


  & .subscription-pricing__rate {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    color: white;
    line-height: 24px;
    background-color: rgba(255, 255, 255, 6%);
    padding-top: 36px;
    padding-bottom: 36px;
  }

  & .subscription-pricing__price {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 62px;
    color: white;
    text-align: center;
    margin-top: 30px;
  }

  & .subscription-pricing__period {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    color: white;
    text-align: center;
    margin-top: 20px;

    &::after {
      display: block;
      margin: 38px auto 0 auto;
      content: "";
      height: 5px;
      border-top: 5px solid #8D81AC;
      width: 60px;
    }
  }

  & .subscription-pricing__terms {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: white;
    text-align: center;
    margin: 30px 20px 0 20px;
    height: 44px;
  }

  & .subscription-pricing__button {
    background: rgba(255, 255, 255, 15%);
    color: white;
    text-decoration: none;
    width: 163px;
    height: 45px;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 37px auto 0 auto;
  }
}

.subscription-pricing__content.active {
  margin: 20px 10px 0 10px;
  background: rgba(70, 48, 72, 84%);
  padding-bottom: 36px;
  width: 299px;
  height: 560px;

  & .subscription-pricing__rate {
    background: rgba(0, 0, 0, 11%);
    padding-top: 43px;
    padding-bottom: 43px;
  }

  & .subscription-pricing__price {
    font-size: 82px;
  }

  & .subscription-pricing__button {
    margin-top: 120px;
  }
}

//////////////////////////////////media


@media (min-width: $tablet-bp) {

  .navigation {
    padding: 32px 20px;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    position: relative;
  }

  .logo-violet {
    display: flex;
    text-decoration: none;
  }

  .logo-hover {
    display: flex;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .logo-violet:hover .logo-hover {
    opacity: 1;
  }

  .logo-violet:hover .logo-text-violet {
    color: $hover;
  }


  .logo-text-violet {
    font-family: 'Lato', sans-serif;
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    color: $primary;

  }

  .block {
    margin-top: 13px;
    margin-left: 17px;
  }

  .navigation__nav-bar {
    display: none;
  }

  .navigation-items-tablet {
    display: block;
    background: #27262A;
    padding-bottom: 18px;
  }


  .navigation-items-tablet ul {
    display: flex;
    padding-left: 0;
    justify-content: space-around;
    list-style-type: none;
    @include nav-items-logo;
  }

  .navigation-items-tablet a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: $primary;
    font-size: 16px;
    line-height: 18px;
  }

  .navigation-items-tablet a:hover {
    color: $hover;
  }

  .banner__name {
    font-size: 72px;
    line-height: 72px;
  }

  .banner__description {
    font-size: 24px;
  }

  .button__button {
    font-size: 21px;
    line-height: 23px;
  }

  .navigation__button {
    font-size: 16px;
    line-height: 16px;
  }

  .button__description {
    line-height: 16px;
  }


  //// Here is what you get

  .what-you-get__header {
    font-size: 42px;
  }

  .what-you-get__wrapper {
    margin: 0 30px 0 30px;
  }

  .what-you-get__content {
    display: grid;
    grid-template-areas:
            "image header"
            "image paragraph";

    & .what-you-get__pictures {
      grid-area: image;
      width: 111px;
      margin-right: 25px;
    }

    & h3 {
      grid-area: header;
      margin-top: 0;
      text-align: left;
    }

    & p {
      grid-area: paragraph;
      text-align: left;
    }
  }

  .what-you-get__banner {
    margin: 70px 0 0 70px;
    background-image: url("./img/editor-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 519px;
  }

  //   people are talking about

  .People-Are-Talking-About-Fork__examples {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 63px;
    row-gap: 58px;
  }

  .People-Are-Talking-About-Fork__title {
    margin-bottom: 84px;
  }


  ////Fork Subscription Pricing

  .subscription-pricing {
    padding-top: 88px;
    background-image: url("./img/Layer 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
  }

  .subscription-pricing__header {
    font-size: 42px;
    line-height: 44px;
  }

  .subscription-pricing__wrapper {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 60px;
  }

  .subscription-pricing__content {
    margin: 40px 0 0 0;
  }

  .subscription-pricing__content.active {

    a {
      margin-top: 150px;
    }
  }

}


@media (min-width: $pc-bp) {

  .navigation-items-tablet {
    display: none;
  }


  .navigation-items-pc {
    display: flex;
  }

  .navigation__text {
    padding-right: 110px;
  }
  .navigation-items-pc li {
    margin-right: 20px;
  }

  .navigation-items-pc li:last-child {
    margin-right: 0;
  }

  .navigation__button {
    margin-left: 48px;
  }

  .navigation {
    display: flex;
    background: #000;
    justify-content: space-between;
    padding: 42px 90px 0 90px;
  }

  .interaction-with-clients {
    display: flex;
    align-items: center;
  }

  .navigation-items-pc ul {
    display: flex;
    padding-left: 0;
    justify-content: space-around;
    list-style-type: none;
    @include nav-items-logo;
  }

  .navigation-items-pc a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: $primary;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .navigation-items-pc a:hover {
    color: $hover;
  }


  .banner__name {
    font-size: 82px;
    line-height: 82px;
  }

  .banner__description {
    font-size: 30px;
  }

  .button__description {
    line-height: 15px;
  }


  //// Here is what you get
  .what-you-get {
    margin-top: 70px;
    padding-top: 95px;
    padding-bottom: 30px;
    background-color: #f4f4f4;
    display: grid;
    grid-template-areas:
              "content header"
              "content banner";
  }

  .what-you-get__header {
    grid-area: header;
    margin: 0 20px 0 0;
  }

  .what-you-get__wrapper {
    grid-area: content;
  }

  .what-you-get__content:first-child {
    margin-top: 0;
  }

  .what-you-get__banner {
    grid-area: banner;
    margin: 30px 0 0 0;
  }


  //people are talking about

  .People-Are-Talking-About-Fork {
    padding: 57px 81px 0 81px;
  }

  .People-Are-Talking-About-Fork__examples {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 87px;
    row-gap: 110px;
  }


  //  // Fork Subscription Pricing

  .subscription-pricing {
    padding-bottom: 150px;
  }

  .subscription-pricing__header {
    font-size: 48px;
    line-height: 50px;
  }

  .subscription-pricing__content.active {

    & h3 {
      margin: 0 1fr 0 1fr;
    }
  }
}







