@import "variables";
@import "mixins";

* {
  margin: 0
}


.navigation__nav-bar img {
  margin-left: 40px;
}


.wrapper {
  min-width: 360px;
  margin: 0 auto;
}

.logo-hover {
  display: none;
}

.logo-text-violet {
  display: none;
}

.navigation__text {
  display: none;
}


.navigation__button {
  @include buttons;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
}

.navigation-items-descop {
  display: none;
}

.navigation__button:hover {
  background-color: $hover;
  color: $primary;
}

.navigation-items {
  z-index: 1;
  display: none;
  width: 292px;
  background-color: #333333;
  position: absolute;
  right: 15px;
  top: 108px;

  & ul {
    padding: 0;
  }

  & li {
    padding: 29px 0 31px 35px;
    list-style-type: none;
    border-left: 7px solid #333333;
  }

  & li:hover {
    border-left: 7px solid $primary;
  }

  & li:hover .navigation-items__link {
    color: $primary;
  }

  & a {
    text-decoration: none;
    color: $hover;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    cursor: pointer;
  }
}

.show {
  display: block;
}

.navigation-items-tablet {
  display: none;
}


.navigation {
  background: #27262A;
  padding: 32px 11px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.banner {
  background: url('./img/img 1.png');
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center
}

.banner__name {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: $hover;
  margin-bottom: 19px;
  margin-top: 50px;
}

.banner__description {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: $primary;
  margin-bottom: 14px;
}

.banner__version {
  @include nav-description;
  text-transform: uppercase;
}


.button__button {
  @include buttons;
  display: block;
  text-align: center;
  margin-top: 320px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: -17px;
  border: 2px solid $primary;
}

.button__button:hover {
  @include button-hover;
  border: 2px solid $primary;
}

.button__description {
  @include nav-description;
  margin-top: 25px;
  text-transform: lowercase;
}


.People-Are-Talking-About-Fork {
  background: url('./img/background-people.svg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 57px 25px 0 25px;

  &::after {
    display: block;
    margin-top: 25px;
    content: "";
    height: 4px;
    border-top: 2px solid #645766;
  }
}

.People-Are-Talking-About-Fork__comment {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #A291A5;

}

.People-Are-Talking-About-Fork__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: $hover;
  text-align: center;
  margin-bottom: 53px;
}

.w {
  height: 50px;
}

.People-Are-Talking-About-Fork__examples {
  margin-bottom: 45px;
  display: grid;
  gap: 25px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.People-Are-Talking-About-Fork__client img {
  display: block;
  margin: 0 auto;
}

.People-Are-Talking-About-Fork__client p {
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 33px;
}

@media (min-width: $tablet-bp) {

  .navigation {
    padding: 32px 20px;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    position: relative;
  }

  .logo-violet {
    display: flex;
    text-decoration: none;
  }

  .logo-hover {
    display: flex;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .logo-violet:hover .logo-hover {
    opacity: 1;
  }

  .logo-violet:hover .logo-text-violet {
    color: $hover;
  }


  .logo-text-violet {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    color: $primary;

  }

  .block {
    margin-top: 13px;
    margin-left: 17px;
  }

  .navigation__nav-bar {
    display: none;
  }

  .navigation-items-tablet {
    display: block;
    background: #27262A;
    padding-bottom: 18px;
  }


  .navigation-items-tablet ul {
    display: flex;
    padding-left: 0;
    justify-content: space-around;
    list-style-type: none;
    @include nav-items-logo;
  }

  .navigation-items-tablet a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: $primary;
    font-size: 16px;
    line-height: 18px;
  }

  .navigation-items-tablet a:hover {
    color: $hover;
  }

  .banner__name {
    font-size: 72px;
    line-height: 72px;
  }

  .banner__description {
    font-size: 24px;
  }

  .button__button {
    font-size: 21px;
    line-height: 23px;
  }

  .navigation__button {
    font-size: 16px;
    line-height: 16px;
  }

  .button__description {
    line-height: 16px;
  }


  .People-Are-Talking-About-Fork__examples {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 63px;
    row-gap: 58px;
  }

  .People-Are-Talking-About-Fork__title {
    margin-bottom: 84px;
  }
}


@media (min-width: $pc-bp) {

  .navigation-items-tablet {
    display: none;
  }

  .navigation-items-descop {
    display: block;

  }

  .navigation__text {
    padding-right: 110px;
  }
  .navigation-items-descop li {
    margin-right: 20px;
  }

  .navigation-items-descop li:last-child {
    margin-right: 0;
  }


  .navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #000;
    justify-items: center;
    padding: 32px 90px;

  }
  .navigation-items-descop ul {
    display: flex;
    padding-left: 0;
    justify-content: space-around;
    list-style-type: none;
    @include nav-items-logo;
  }

  .navigation-items-descop a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: $primary;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .navigation-items-descop a:hover {
    color: $hover;
  }


  .banner__name {
    font-size: 82px;
    line-height: 82px;
  }

  .banner__description {
    font-size: 30px;
  }

  .button__description {
    line-height: 15px;
  }

  .People-Are-Talking-About-Fork {
    padding: 57px 81px 0 81px;
  }


  .People-Are-Talking-About-Fork__examples {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 87px;
    row-gap: 110px;
  }

}

